/* You can add global styles to this file, and also import other style files */

@import './assets/css/flaticon.css';
@import './assets/css/responsive.css';
@import './assets/css/style.css';


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "./../node_modules/font-awesome/css/font-awesome.min.css";
@import './../node_modules/primeng/resources/themes/omega/theme.css';
@import './../node_modules/primeng/resources/primeng.min.css';

@import './../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';



*{
   outline: none;
}
.bs-datepicker-container{
    padding: 10px
}
.ui-radiobutton-icon{
    font-size: 7px;
    margin: 0px;
}
.radio_group{
    display: inline-flex;
}
.radio_button{
    display: flex;
    margin-right: 20px
}
.radio_group > span{
    margin-right: 20px;
    font-weight: 600;
    color: #666;
}
.ui-radiobutton-box{
    margin-right: 5px
}

.ui-dropdown .ui-dropdown-label{
    font-size: 14px;
    color: #333333 !important;
    font-weight: 500
}
.ui-dropdown .ui-dropdown-label.ui-placeholder{
   color: #999999 !important;
}
.ui-float-label #float-input{
    font-size: 14px !important;
    color: #333333 !important;
    font-weight: 500 !important;
}
.ui-dropdown{
    width:100% !important;
    height: 40px !important;
    line-height: 30px !important;
    border-radius: 0px !important;
}
.ui-dropdown .ui-dropdown-trigger{
    border-left: 0px;
    line-height: 40px;
    font-size: 22px;
}
.ui-dropdown.ui-state-focus{
    box-shadow: none !important;
}
.ui-dropdown .ui-dropdown-panel{
    box-shadow: none !important;
}
.ui-dropdown-panel .ui-dropdown-list{
    padding: 0px;
}
.ui-dropdown-panel .ui-dropdown-item{
    border-radius: 0px;
}



.ui-float-label > label{
    font-size: 13px !important;
}

.ui-float-label>label span {
    color: #ff7500;
}
.Required_Field~ label {
    color: red !important;
}
.Required_Field{
    border-color: red !important;
}
.ui-float-label input.ng-dirty.ng-invalid ~ label{
    color: red !important;
}
.ui-float-label input.ng-dirty.ng-invalid{
    border-color: red !important;
}
p-dropdown.Required_Field .ui-dropdown{
    border-color: red !important;
}
p-dropdown.Required_Field .ui-dropdown label{
    color: red !important;
}
